@page
@model tbkk_AC.Pages.UpdateLicenses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Update_License</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Update_License.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_License.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_License.LicenseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_License.LicenseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_License.SoftewareName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_License.SoftewareName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_License.PurchaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_License.PurchaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_License.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_License.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_License.ExpireDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_License.ExpireDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_License.PONumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_License.PONumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_License.Attachfiles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_License.Attachfiles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_License.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_License.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_License.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_License.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_License.Model_ModelID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_License.Model_ModelID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_License.Supplier_SupplierID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_License.Supplier_SupplierID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_License.Department_DepartmentID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_License.Department_DepartmentID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_License.Company_CompanyID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_License.Company_CompanyID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Update_License.License_LicenseID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Update_License.License_LicenseID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Update_License.UpdateLicenseID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
