@page
@model tbkk_AC.Pages.Models.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Model</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model.ModelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model.ModelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model.Brand.BrandName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model.Category.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Model.ModelID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
